{{ form_start(form) }}
<div class="row">
    <div class="col">
    {{ form_row(form.ProductName) }}
    </div>
    <div class="col">
        {{ form_row(form.SupplierID) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.CategoryID) }}
    </div>
    <div class="col">
        {{ form_row(form.QuantityPerUnit) }}
    </div>
    <div class="col">
        {{ form_row(form.UnitPrice) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.UnitsInStock) }}
    </div>
    <div class="col">
        {{ form_row(form.UnitsOnOrder) }}
    </div>
    <div class="col">
        {{ form_row(form.ReorderLevel) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.Discontinued) }}
    </div>
</div>
    <a href="{{ path('products_index') }}">Retour</a>
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
